body {
	font-family: 'Josefin Slab', serif;
}

.title {
	font-size: 35px;
	text-align: center;
	height: 20%;
	-webkit-transform: translateY(30%);
}
.worldMap {
	width: 100%;
	text-align: center;
	position: relative;
}
#map {
	left: 50%;
	position: relative;
	-webkit-transform: translateX(-50%);
}